.active-link {
  color: white;
  background-color: #333;
}
.active-link:hover {
  color: white;
  background-color: #000;
}

.inactive-link {
  color: black;
  background-color: #f8f8f8;
}
.inactive-link:hover {
  color: black;
  background-color: #fff;
}

.faded-item {
  opacity: 0.7;
}
