/* More opaque backdrop */
.Modal-backdrop {
  background-color: black !important;
  opacity: 0.8 !important;
  z-index: 10000000 !important;
}

/* Customize the modal header and body */
.modal-header {
  /* Dark theme */
  background-color: #222 !important;
  color: white !important;

  /* Border */
  border: 1px solid #545454 !important;
}
.modal-body {
  /* Dark theme */
  background-color: #222 !important;
  color: white !important;

  /* Border */
  border-top: 0 !important;
  border-left: 1px solid #545454 !important;
  border-bottom: 1px solid #545454 !important;
  border-right: 1px solid #545454 !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Create our own animation */
.modal-content {
  animation-name: Modal-drop-in;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes Modal-drop-in {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
