.container {
  /* Loading splash container */
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  /* Circle size */
  font-size: 25px;
  color: #4aa0b5;
}

/* Add animation to every circle */
.circle-1,.circle-2,.circle-3,.circle-4 {
  animation: pulse 1.5s infinite;
  -webkit-animation: pulse 1.5s infinite;
}

/* Delay subsequent circles to give animation movement */
.circle-2 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.circle-3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.circle-4 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

/* Pulse animation */
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
